.menu {
    background: #455d7a;
}

.menu .is-active > a {
  
  background: #e1583d;
}

.menu > li > a { 
  color: #e3e3e3;
  &:hover {
      background: #dc593f ;
  }
}


h1 {
  color: #e3e3e3;
  font-family: monospace;
}


h3 {
  color: #e3e3e3;
  font-family: monospace;
}

body {
  color: #e3e3e3;
  background-color: #233142;
  font-family: monospace;
}

.image {
  border-style: solid;
  border-color: #455d7a;
}
